@import "default";

footer {
  background-color: #1a1a1a !important;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2rem;

  p {
    margin: 0;
    font-size: 0.875rem;
  }
}
