.custom-navbar {
  .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    transition: all 0.3s ease;

    &:hover {
      color: #ff4d4d;
      transform: translateY(-2px);
    }
  }

  .btn-danger {
    background-color: #ff4d4d;
    border: none;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
      background-color: #e63c3c;
    }
  }
}
