@import "default";
@import "navbar";
@import "footer";

header {
  min-height: 300px;
  width: 100%;

  // align items in the center
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem 1rem;

  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/gym-background.jpg") center/cover no-repeat;
}

main {
  .card {
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.5s ease;

    &:hover {
      transform: translateY(-4px);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 40px;
    }

    img {
      width: 100%;
      aspect-ratio: 4/3;
      object-fit: cover;
    }

    .class-info {
      i {
        color: #ff4d4d;
        width: 20px;
        font-size: 1.1rem;
        text-align: center;
      }

      li {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
