@import "default";
@import "navbar";


header {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../images/gym-background.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;

  .card {
    transition: 0.2s;

    &:hover {
      transform: translateY(-10px);
    }
  }

  .btn {
    transition: 0.2s;
  }
}
